<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Twitter Sentiment Analysis</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="static/css/styles.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="static/fonts/fontawesome-free-6.1.1-web/css/all.css" >
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="#">Twitter Tweets</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="#">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">More To Come</a></li>

                    </ul>
                </div>
            </div>
        </nav>

        <!-- Page content-->
        <div class="container content-main">
            <div class="text-center mt-5">
                <h1>Search Twitter Tweets</h1>
                <p class="lead">Sentiment analysis to accompany search results</p>
            </div>

            <form class="input-group" method="post">
                <input class="form-control" type="text" id="searchTweets" placeholder="Search Tweets" name="search_query"/>
                    <div class="input-group-append">
                            <button type="submit" class="btn btn-secondary">
                                <i class="fa fa-search"></i>
                            </button>
                    </div>
            </form>

            <div class="tweet-container">
                <ul class="tweet-list-container list-group rounded">
                    {% for tweet in tweets %}
                    <li class="tweet rounded bg-light list-group-item" style="">
                        <div class="user-info">
                            <img class="rounded-circle" style="vertical-align:text-bottom;" src={{ tweet.profile_image_url }} />
                            <p style="display:inline-block;margin: 20px 10px 0px;"><strong>{{ tweet.name }}</strong></p>
                            <p style="display:inline-block;margin-top:20px;"><em>@{{ tweet.username }}</em></p>
                        </div>
                        <p>{{ tweet.created_at }}</P>
                        <p class="lead">
                            {{ tweet.text | safe }}
                        </p>
                    </li>
                    <br />
                    {% endfor %}
                </ul>
            </div>

        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
    </div>
    </body>
</html>
